/*CSS for only the Sidebar*/

.nav-pills .nav-link {
    color: #333; /* Standard tekstfarge */
    text-decoration: none; /* Fjern understreking */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover */
    font-weight: 500; /* Valgfritt: Endre tykkelse */
    text-decoration: none; /* Fjern understreking */
  }

  
  .nav-pills .nav-link:hover {
    background-color: #4caf50; /* Grønn bakgrunn */
    color: white !important; /* Hvit tekst */
  }
  
  .nav-pills .nav-link.active {
    background-color: #4caf50; /* Grønn bakgrunn for aktiv link */
    color: white; /* Hvit tekst for aktiv link */
  }
  

.nav-pills .dropdown-menu {
    background-color: #f8f9fa; /* Matcher sidebar-bakgrunnen */
    border: none;
  }
  
  .nav-pills .dropdown-item {
    color: #333;
    padding: 10px 20px;
  }
  
  .nav-pills .dropdown-item:hover {
    background-color: #4caf50; /* Grønn hover-effekt */
    color: white;
  }
  
  
  .nav-pills .nav-link:hover {
    color: #ffffff; /* Endre farge ved hover */
    text-decoration: none; /* Fjern understreking ved hover */
  }
  