/* Additional styling for table and searchbar */


.search {
    background-color: var(--bg-primary);
    border-radius: var(--border-radius-sm);
    box-shadow:var(--shadow-sm);
    padding: 1rem;
}

.info {
    margin-bottom: 2rem;
}

.tag-info {
    margin-top: 2rem;
}




